RewriteEngine On
RewriteBase /

# Redirect all requests that don't point to an existing file or directory to your index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
