/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.main {
  flex: 1; /* Hace que el .main ocupe todo el espacio vertical disponible */  
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: 100;
  background: #e7f2fd;
}
.main h1 {
  color: #11101d;
  font-size: 40px;
  text-align: center;
}
/* styles.css */
.page-content {
  margin-top: 40px; /* Ajusta el valor según el espacio que desees entre el header y el contenido */
}

.form-group {
  margin-bottom: 20px; /* Ajusta el valor según el espacio entre los elementos del formulario */
}

.container h4 {
  margin-top: 100px;
}

.container {
  min-height: 100vh;
}
