/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin-bottom: 60px; /* Altura del footer */
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.py-4 {
    padding-top: 40px;
    padding-bottom: 40px;
} 
